/public/assets/adminlte
/public/assets/adminLTE
/public/documents
/storage/app/public
/public/profiles
/public/storage
/storage/*.key
/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
temp
/public/uploads/image/*
/public/uploads/web-info/*

!/public/uploads/image/default-avatar.jpg
!/public/uploads/web-info/default-avatar.jpg

public/img/config

/.idea
/.vscode
composer.lock

/jsreportapp
